@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'KyoboHand';
	font-size: 20px;
}

a{
    text-decoration:none;
	color:inherit;
}

.table {
border-bottom: 1px solid #116A7B;
padding: 10px;
text-color : light;
}

.btn {
background: #CDC2AE;
color: #2B3467;
border-top:1px solid lightgray;
border-right:1px solid lightgray;
border:bottom:1px solid lightgray;
}
.btn:hover {
background: #967E76;
}

.table-head {
background : #C2DEDC;
color:#2B3467;
}

.active {
    background : #C2DEDC;
    color: red;
}

.logoimg {
    width:50px;
    height:50px;
    border-radius:60px 60px;
    margin-right:10px;
}